<section class="section">

<div class="form-container ml-mr-auto">
  <div style="padding-top: 2%;">
    <div class="arrow-back-container">
      <h2 class="fontNunito">Channel erstellen</h2>
      <button  class="close-btn" (click)="closeModal()" >
        <img title="Schließen" class="close-img" src="../../../../assets/media/icons/close.svg" alt="">
      </button>
    </div>
    <div class="form-title ml-mr-auto">
      <p class="fontNunito">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein  #marketing zum Beispiel.</p>
    </div>
    <h3 class="fontNunito">Channel-Name</h3>
    <div class="input-container">
      <input class="input-field fontNunito input-field-hash-icon" type="text" placeholder="z.B. Kooperationsprojekte" pattern="^[a-zA-Z0-9äöüÄÖÜß\s\.,!?-]{1,}$">
    </div>
    <h3 class="fontNunito">Beschreibung <span class="fontNunito">(optional)</span></h3>
    <input class="input-field fontNunito" type="text" placeholder="Din Text hier" pattern="^[a-zA-Z0-9äöüÄÖÜß\s\.,!?-]{1,}$">
  </div>  

  <div class="check-container">
    <div class="btn-container ml-mr-auto">
      <a class="login-btn fontNunito" routerLink="main">Erstellen</a>
    </div>
  </div>

</div>

</section>

