<div class="wrapper">
  <app-header></app-header>

  <div class="main-content-container">
    <div class="sidenav" [class.animate]="isMenuOpen">
      <app-menu-side-left></app-menu-side-left>
    </div>

    <div class="main-content">
<div class="render"><app-chat-room></app-chat-room></div>

        <button (click)="openUserProfile()">
          Open Dialog User
        </button>

    </div>


    <button class="side-menu-btn fontNunito" (click)="isMenuOpen = !isMenuOpen">Side Menu <img src="assets/media/icons/show-menu.svg" alt="" srcset=""></button>
  </div>


</div>
