<div class="wrapper">
  <app-header></app-header>

  <div class="main-content-container">
    <div class="sidenav" [class.animate]="isMenuOpen">
      <div class="side-nav-wrapper">
        <nav>
          <div>
            <img src="assets/media/icons/workspace-logo.svg" alt="logo navbar" srcset="">
            <h2>Devspace</h2>
          </div>
          <img src="assets/media/icons/edit-square.svg" alt="" srcset="">
        </nav>
        <div class="content-wrapper">
          <div class="channels">
            <div class="channels-navbar">
              <div class="channels-navbar-left-container">
                <img (click)="toogleDropDown1()" [ngClass]="{'drop-down': isFirstDropdownMenuOpen}"
                  src="assets/media/icons/arrow-drop-down.svg" alt="drop-down-menu" srcset="">
                <img src="assets/media/icons/workspaces.svg" alt="" srcset="">
                <div class="font-nunito">Channels</div>
              </div>
              <img src="assets/media/icons/add-black.svg" alt="" srcset="">
            </div>
            <div class="channels-content" [class.animate]="isFirstDropdownMenuOpen">
              <div>
                <div># channel 1</div>
                <div># channel 2</div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="main-render-content">




        <button (click)="openUserProfile()">
          Open Dialog User
        </button>

      </div>
    </div>



  </div>

  <button class="side-menu-btn" (click)="isMenuOpen = !isMenuOpen">Side Menu</button>
</div>
