<section class="login-section">

  <div class="logo-container">
    <a routerLink="login">
      <img class="logo" src="../../assets/media/icons/logo-animation.svg" alt="blubbel logo">
    </a>
  </div>

<div class="form-container ml-mr-auto">
  <div style="padding-top: 2%;">
    <div class="arrow-back-container">
      <a routerLink="login">
        <img src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
      </a>
      <h2 class="fontNunito">Passwort zurücksetzen</h2>
    </div>
    <div class="form-title ml-mr-auto fontNunito">
      <p class="fontNunito">Bitte gib deine eMail ein:</p>
    </div>
  </div>  


  <div class="check-container">
    <input class="input-field input-field-mail-icon  fontNunito" type="email" placeholder="beispielname@email.com" />
    <p class="fontNunito">
      Wir senden Ihnen eine E-Mail, über die 
      Sie Ihr Passwort ändern können.
    </p>
    <div class="btn-container ml-mr-auto">
      <a class="login-btn fontNunito" routerLink="login">eMail senden</a>
    </div>
  </div>

</div>

<div class="legal-imprint-container ml-mr-auto">
  <a class="fontNunito" href="imprint">Impressum</a>
  <a class="fontNunito" href="legal">Datenschutz</a>
</div>
</section>
