<div class="side-nav-wrapper">
  <nav>
    <div>
      <img src="assets/media/icons/workspace-logo.svg" alt="logo navbar" srcset="">
      <h2 class="fontNunito">Devspace</h2>
    </div>
    <img src="assets/media/icons/edit-square.svg" alt="" srcset="">
  </nav>
  <div class="content-wrapper">
    <div class="channels">
      <div class="channels-navbar">
        <div class="channels-navbar-left-container" (click)="toogleDropDown1()">
          <img [ngClass]="{'drop-down': isFirstDropdownMenuOpen}" src="assets/media/icons/arrow-drop-down.svg"
            alt="drop-down-menu" srcset="">
          <img src="assets/media/icons/workspaces.svg" alt="" srcset="">
          <div class="fontNunito">Channels</div>
        </div>
        <img src="assets/media/icons/add-black.svg" alt="" srcset="">
      </div>
      <div class="channels-content fontNunito" [class.animate]="isFirstDropdownMenuOpen">
        <div>
          <div class="bg-channels channels-inner-position"><img src="assets/media/icons/tag.svg" alt="tag-icon"
              srcset=""> channel 1</div>
          <div class="bg-channels channels-inner-position"> <img src="assets/media/icons/tag.svg" alt="tag-icon"
              srcset=""> channel 2</div>
          <div class="channels-inner-position">
            <img src="assets/media/icons/add-circle.svg" alt="" srcset="">
            <span>Channel hinzufügen</span>
          </div>
        </div>


      </div>
    </div>

    <div class="pm-wrapper">
      <div (click)="toogleDropDown2()" class="menu-title">
        <img [ngClass]="{'drop-down': isSecondDropdownMenuOpen}" src="assets/media/icons/arrow-drop-down.svg"
          alt="drop-down-menu" srcset="">
        <img src="assets/media/icons/account-profil.svg" alt="account-profil" srcset="">
        <span class="fontNunito">Direktnachrichten</span>
      </div>
      <div class="channels-content fontNunito padding-l-35" [class.animate]="isSecondDropdownMenuOpen">
        <div>
          <div class="single-user">
            <div class="user-img">
              <img src="assets/media/icons/profile-icons/user-1-elise.svg" alt="user-photo" srcset="">
              <img class="online" src="assets/media/icons/online.svg" alt="is-online" srcset="">
            </div>
            <div>User Name</div>
          </div>
          <div class="single-user">
            <div class="user-img">
              <img src="assets/media/icons/profile-icons/user-1-elise.svg" alt="user-photo" srcset="">
              <img class="online" src="assets/media/icons/online.svg" alt="is-online" srcset="">
            </div>
            <div>User Name</div>
          </div>
          <div class="single-user">
            <div class="user-img">
              <img src="assets/media/icons/profile-icons/user-1-elise.svg" alt="user-photo" srcset="">
              <img class="online" src="assets/media/icons/online.svg" alt="is-online" srcset="">
            </div>
            <div>User Name</div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
