@import "./../../../colors.scss";
@import "./../../../styles.scss";

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 35px;
  .profil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .profile-title {
        display: flex;
        justify-content: space-between;
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $black;
        margin: 0;
      }
      button {
        background: none;
        border: none;
        border-radius: $b-radius-2;
        &:hover {
          background: $bg-color;
        }
        &:hover svg path {
          fill: $primary-hover;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }
    .team-title {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 1rem;
        svg path {
          fill: $primary-hover;
        }
        span {
          color: $primary-hover;
          font-size: 1.125rem;
        }
      }
  }
  .team {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    input {
      max-width: 26.25rem;
      width: 100%;
      height: 3.25rem;
      border: solid 0.0625rem $primary-light;
      border-radius: $b-radius-1;
      padding-inline: 1.25rem;
      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }
  }
  .add {
    max-width: 9.375rem;
    width: 100%;
    height: 3.125rem;
    margin-left: auto;
    background: $primary;
    color: $white;
    border-radius: $b-radius-1;
    &:hover {
        background: $primary-hover;
    }
    &[disabled] {
        cursor: auto;
        background-color: $gray;
    }
  }
}


::ng-deep .cdk-global-overlay-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

::ng-deep
  .add-users-container
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  border-radius: $b-radius-1 0 $b-radius-1 $b-radius-1;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 13.5rem;
  right: 7.25rem;
}

@media (max-width: 500px) {
  .profile-card {
    .name {
      button {
        span {
          display: none;
        }
        img {
          display: flex;
        }
      }
    }
  }

  ::ng-deep
    .add-users-container
    .mat-mdc-dialog-container
    .mdc-dialog__container
    .mat-mdc-dialog-surface {
    border-radius: $b-radius-1 0 $b-radius-1 $b-radius-1;
    position: absolute;
    width: 500px;
    height: 600px;
    top: auto;
    right: auto;
  }
}
