<section class="login-section">

  <div class="logo-container">
    <button [routerLink]="['/']" title="zurück zur Startseite" aria-label="Zurück zur Startseite">
      <img class="logo" src="../../assets/media/icons/logo-animation.svg" alt="blubbel logo">
    </button>
  </div>

<div class="form-container ml-mr-auto">
  <div style="padding-top: 2%;">
    <div class="arrow-back-container">
      <button [routerLink]="['/']"  title="zurück zur Startseite" aria-label="Zurück zur Startseite">
        <img src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
      </button>
      <h2 class="fontNunito">Passwort zurücksetzen</h2>
    </div>
    <div class="form-title ml-mr-auto fontNunito">
      <p class="fontNunito">Bitte gib deine eMail ein:</p>
    </div>
  </div>  


  <div class="check-container">
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <input class="input-field input-field-mail-icon  fontNunito" type="email" title="Bitte email eingeben" placeholder="beispielname@email.com" formControlName="email" aria-label="email" aria-required="true" aria-describedby="email-error"/>

      @if (recoveryForm.controls['email'].invalid && (isFormValid || recoveryForm.controls['email'].dirty || recoveryForm.controls['email'].touched)) {
        <div class="warn-txt"
          >
          @if (recoveryForm.controls['email'].errors?.['required']) {
            <span  >eMail ist ein Pflichtfeld.</span>
          }
          @if (recoveryForm.controls['email'].errors?.['email']) {
            <span id="email-error"  >eMail ist unvollständig/inkorrekt.</span>
          }
        </div>
        }
      <p class="fontNunito">
        Wir senden Dir eine E-Mail, über die 
        Du dein Passwort ändern kannst.
      </p>
      <div class="btn-container ml-mr-auto">
        <button class="login-btn fontNunito" [routerLink]="['/login']" title="Absenden" aria-label="button zum absenden">eMail senden</button>
      </div>
    </form>
    
  </div>

</div>

<div class="legal-imprint-container ml-mr-auto">
  <button class="fontNunito" [routerLink]="['/start/imprint']" title="Impressum" aria-label="Link zum Impressum">Impressum</button>
  <button class="fontNunito" [routerLink]="['/start/legal']" title="Datenschutz" aria-label="Link zum Datenschutz">Datenschutz</button>
</div>
</section>

