@import "../../../../colors.scss";
@import "../../../../styles.scss";
@import "../../../../fonts.scss";

/* CONTAINER */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55.875rem;
  height: 47.8125rem;
  background-color: $white;
  padding: $padding-dialog;
  .container-content {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    .title {
      display: flex;
      justify-content: space-between;
      text-align: center;
      height: 40px;
    }
  }

  .channel-name-container,
  .channel-info-container {
    border: 1px solid #adb0d9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    .separator {
      height: 2px;
      background: $bg-color;
    }
    .creat-user {
      display: flex;
      flex-direction: column;
    }
  }
  .channel-name-container {
    width: 100%;
    height: fit-content;
  }
  .channel-info-container {
    width: 100%;
    height: fit-content;
  }

  .edit-name-container,
  .edit-info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.5344rem;
      background: none;
      color: $black;
      padding-inline: 0.625rem;
      font-weight: 500;
      transition: all 175ms ease-in-out;
      &:hover {
        color: $primary;
        background: $bg-color;
        font-weight: 700;
        border-radius: $b-radius-2;
      }
    }
  }

  .user-link {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.0463rem;
    color: #535af1;
  }

  .check-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    align-self: flex-end;
    height: 3.0625rem;
    font-weight: 700;
    font-size: 1.125rem;
    height: 3.0625rem;
    width: fit-content;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: $primary;
    &:hover {
      background-color: $primary-hover;
      color: $white;
    }
  }
}
