<div class="container">
  <div class="container-content">
    <div class="title">
      <h2 class="fontNunito"># Entwicklerteam</h2>
      <button  class="close-btn" >
        <app-close></app-close>
      </button>
    </div>

    <div class="channel-name-container">
      <div class="edit-name-container">
        <h3 class="fontNunito">Channel-Name</h3>
        <button class="fontNunito" title="Channelname ändern" >Bearbeiten</button>
      </div>
      <p class="fontNunito"><span style="font-weight: bold;">#</span> Entwicklerteam</p>
    </div>

    <div class="channel-info-container">
      
      <div class="edit-info-container">
        <h3 class="fontNunito">Beschreibung</h3>
        <button class="fontNunito" title="Channelinfo ändern">Bearbeiten</button>
      </div>
      
      <p>
        Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen
      </p>

      <div class="separator"></div>
      
      <div class="creat-user">
        <h3 class="fontNunito">Erstellt von</h3>
        <div class="fontNunito user-link" title="Chat user ändern">Noah Braun</div>
      </div>
    </div>
    
  </div>  

  <button class="check-container ontNunito" routerLink="main">Channel verlassen</button>
</div>
