@import '../../colors.scss';
@import '../../styles.scss';

::ng-deep {
 app-logo>a>img {
  margin-left: 65px;
 }
}

section {
  background-color: $bg-color;
  >div>img {
    position: relative;
    // background-image: url('../../assets/media/bg_404.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 80vh;
    border-radius: 41px 4px 41px 41px;
    >h1 {
      color: red;
    }
  }
  >div>button {
    width: 9%;
    height: 4%;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
  }
}

// .btn {
//   margin-top: 42%;
//   margin-left: 44%;
//   padding: 10px 25px;
//   width: 12%;
// }