<section>
  <div class="header-icons">
    <app-logo [routerLink]="['/']"></app-logo>
    <div class="new-user-link">
      <p class="fontNunito">Neu bei DABubble?</p>
      <a class="font-figtree" routerLink="register">Konto erstellen</a>
    </div>
  </div>
    
  <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword()">
      <div class="form-title">
        <h2 class="fontNunito">Anmeldung</h2>
        <p class="fontNunito">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
      </div>

      
      <div class="input-container">
        <label class="visually-hidden" for="email">E-Mail-Adresse</label>
        <input class="input-field input-field-mail-icon fontNunito" id="email" type="email" formControlName="email"
          placeholder="beispielname@email.com" aria-label="email" aria-required="true" aria-describedby="email-error" autocomplete="username"/>
        
        <div class="warn-txt warn-txt-2">
            @if(fb.errorMessageLogin()){
            <span>{{ fb.errorMessageLogin() }}</span>
            }
          @if (loginForm.controls['email'].invalid && (isFormSubmitted || loginForm.controls['email'].touched ||
            loginForm.controls['email'].dirty)) {
          @if (loginForm.controls['email'].errors?.['required']) {
          <span>E-Mail ist ein Pflichtfeld.</span>
            }
          @if (loginForm.controls['email'].errors?.['email']) {
            <span id="email-error">E-Mail ist unvollständig/inkorrekt.</span>
        }
        }
      </div>
    </div>

      <div class="input-container">
        <label class="visually-hidden" for="password">Passwort</label>
        <input autocomplete="current-password" id="password" class="input-field input-field-pwd-icon fontNunito input-field-eye-icon" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password"
          placeholder="Passwort" aria-label="password" aria-required="true" aria-describedby="password-error" />
          <i class="pwd-eye eye-pos" [ngClass]="{'eye-closed': !isPasswordVisible, 'eye-open': isPasswordVisible}" (click)="togglePasswordVisibility()" ></i>
          <div class="warn-txt warn-txt-2">
          
            @if (loginForm.controls['password'].invalid && (isFormSubmitted || loginForm.controls['password'].touched || loginForm.controls['password'].dirty)) {
              @if (loginForm.controls['password'].errors?.['required']) {
              <span>Password ist ein Pflichtfeld.</span>
              }
              @if (loginForm.controls['password'].errors?.['minlength']) {
              <span id="password-error">
                Mindestens 8 Zeichen erforderlich: ein Klein- u. ein Großbuchstabe, eine Zahl und ein Sonderzeichen.</span>
              }
              @if ((loginForm.controls['password'].errors?.['pattern']) && !(loginForm.controls['password'].errors?.['minlength'])) {
              <span>Mindestanforderungen nicht erfüllt.</span>
              }
            }
          </div>
      </div>
   
    
    <button class="btn-password fontNunito" [routerLink]="['/recovery']">Passwort vergessen?</button>
    
    <div class="seperator-container">
      <span class="sep-line-txt fontNunito">ODER</span>
    </div>

    <div class="btn-container">
      <button class="login-btn fontNunito" type="submit">Anmelden</button>
      <button class="guest-btn fontNunito" routerLink="main">Gäste-Login</button>
    </div>
  </form>

  <button 
    class="input-focus btn-google fontNunito" 
    (click)="createNewUserWithGoogle()">
    <img src="../../../assets/media/icons/google-logo-icon.svg" alt="google logo">
    Anmeldung mit Google
  </button>

  <div class="legal-imprint-container">
    <button class="fontNunito" routerLink="imprint">Impressum</button>
    <button class="fontNunito" routerLink="legal">Datenschutz</button>
  </div>
</section>
