<section class="login-section">
  <div class="header-icons">
    <app-logo routerLink=""></app-logo>
    <div class="new-user-link">
      <p class="fontNunito">Neu bei DABubble?</p>
      <button class="font-figtree" routerLink="register">Konto erstellen</button>
    </div>
  </div>
 
  <div class="form-container ml-mr-auto">

    <div class="form-title ml-mr-auto">
      <h2 class="fontNunito">Anmeldung</h2>
      <p class="fontNunito">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    </div>
    <form >
      <div class="input-container ml-mr-auto"> 
        <input class="input-field input-field-mail-icon fontNunito" type="text" placeholder="beispielname@email.com" />
        <input class="input-field input-field-pwd-icon fontNunito" type="password" placeholder="Passwort" />
        <button class="ml-mr-auto fontNunito" routerLink="recovery">Passwort vergessen?</button>
      </div>
    </form>

    <div class="seperator-container">
      <p class="sep-line-txt fontNunito">ODER</p>
    </div>
    <div class="google-btn-container ml-mr-auto">
      <button class="ml-mr-auto fontNunito" href="#">
        <img class="google-logo" src="../../assets/media/icons/google-logo-icon.svg" alt="google logo">
        Anmeldung mit Google</button>
    </div>
    <div class="btn-container ml-mr-auto">
      <button class="login-btn fontNunito" routerLink="main">Anmelden</button>
      <button class="guest-btn fontNunito" routerLink="main">Gäste-Login</button>
    </div>

  </div>
  
  <div class="legal-imprint-container ml-mr-auto">
    <button class="fontNunito" routerLink="imprint">Impressum</button>
    <button class="fontNunito" routerLink="legal">Datenschutz</button>
  </div>
</section>
