<div class="team">
  <label for="name-input" class="visually-hidden" autocomplete="off"
    >Name:</label
  >
  <input type="text" id="name-input" placeholder="Name eingeben" autocomplete="off" />

  <ul>
    <li>
      <app-avatar></app-avatar>
      <span>User name</span>
    </li>
    <li>
      <app-avatar></app-avatar>
      <span>User name</span>
    </li>
    <li>
      <app-avatar></app-avatar>
      <span>User name</span>
    </li>
    <li>
      <app-avatar></app-avatar>
      <span>User name</span>
    </li>
  </ul>
</div>
