<section class="info-container">
  <div class="info-content">
    <h2>Info:</h2>
    <br>
    <p>Dein Name - ohne Zahlen.</p>
    <p>Deine Email - kein Spam.</p>
    <span>Dein Passwort:

      <div>
        <ul>
          <li>min. 8 Zeichen</li>
          <li>min. 1 Großbuchstabe (A-Z)</li>
          <li>min. 1 Kleinbuchstabe (a-z)</li>
          <li>min. 1 Zahl (0-9)</li>
          <li>min. 1 Sonderzeichen</li>
          <li>&#64; $ ! % + - / * ? &</li>
        </ul>
      </div>

    </span>
  </div>
</section>
