<section>
  <header class="fontNunito">
    <div class="header-left-container">
      <img src="assets/media/icons/tag-black.svg" alt="hash-tag" srcset="">
      <h1>Entwicklerteam</h1>
      <img src="assets/media/icons/arrow-down.svg" alt="" srcset="">
    </div>
    <div class="header-right-container">
      <div>
        @for (user of usersInChat; track $index) {
        <img src="{{ user }}" alt="userProfilPhoto" srcset="">
        }
        <div class="font-nunito"> {{ usersInChat.length }}</div>
      </div>
      <button (click)="openAddUsers()">
        <img src="assets/media/icons/Add-members-button.svg" alt="add-member" srcset="">
      </button>
    </div>
  </header>
  <div class="chat-main-container">

    @for (singleMessage of allUserMessages; track allUserMessages[index].userDetails.userName; let index = $index) {
      <app-message-answer [userMessage]="singleMessage" [index]="index"></app-message-answer>
    }

  </div>
  <app-message-field></app-message-field>
</section>
