<div class="logo-container">
  <app-logo [routerLink]="['/']" />
</div>

<section class="create-avatar-section">

  <div class="content-container ml-mr-auto">
    <div style="padding-top: 2%;margin-left: 5%;">
      <div class="arrow-back-container">
        <a [routerLink]="['/']">
          <img src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
        </a>
        <h2 class="fontNunito">Wähle deinen Avatar</h2>
      </div>
      <div class="avatar-container">
        <img class="profile-icon ml-mr-auto" src="../../assets/media/icons/profile-icons/profile-icon.svg" alt="a blank user profile icon">
        <p class="profile-name fontNunito">Frederik Becks</p>
        <span class="profile-name-span fontNunito">Aus der Liste wählen</span>
        <div class="profile-avatars ml-mr-auto">
          <img src="../../assets/media/icons/profile-icons/user-1-elise.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-2-elias.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-3-frederick.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-4-steffen.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-5-sofia.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-6-noah.svg" alt="user-profile icon - default">
        </div>

        <div class="upload-container"> 
          <span class="upload-text fontNunito">eigenes Bild verwenden</span>
          <button class="upload-btn fontNunito">Datei hochladen</button>
        </div>
      </div>
    </div>  

    <div class="btn-container ml-mr-auto">
      <a class="login-btn fontNunito" [routerLink]="['/']">Weiter</a>
    </div>
  </div>

  <div class="legal-imprint-container ml-mr-auto">
    <a class="fontNunito" [routerLink]="['/imprint']">Impressum</a>
    <a class="fontNunito" [routerLink]="['/legal']">Datenschutz</a>
  </div>

</section>
