<section class="create-avatar-section">

  <div class="logo-container">
    <a routerLink="">
      <img class="logo" src="../../assets/media/icons/logo-animation.svg" alt="blubbel logo">
    </a>
  </div>

  <div class="content-container ml-mr-auto">
    <div style="padding-top: 2%;margin-left: 5%;">
      <div class="arrow-back-container">
        <a href="login">
          <img src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
        </a>
        <h2>Wähle deinen Avatar</h2>
      </div>
      <div class="avatar-container">
        <img class="profile-icon ml-mr-auto" src="../../assets/media/icons/profile-icons/profile-icon.svg" alt="a blank user profile icon">
        <p class="profile-name">Frederik Becks</p>
        <span class="profile-name-span">Aus der Liste wählen</span>
        <div class="profile-avatars ml-mr-auto">
          <img src="../../assets/media/icons/profile-icons/user-1-elise.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-2-elias.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-3-frederick.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-4-steffen.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-5-sofia.svg" alt="user-profile icon - default">
          <img src="../../assets/media/icons/profile-icons/user-6-noah.svg" alt="user-profile icon - default">
        </div>

        <div class="upload-container"> 
          <span class="upload-text">eigenes Bild verwenden</span>
          <button class="upload-btn">Datei hochladen</button>
        </div>
      </div>
    </div>  

    <div class="btn-container ml-mr-auto">
      <a class="login-btn" href="#">Weiter</a>
    </div>
  </div>


  <div class="legal-imprint-container ml-mr-auto">
    <a href="imprint">Impressum</a>
    <a href="legal">Datenschutz</a>
  </div>

</section>

