<section>

  <div class="container ml-mr-auto">
    <div style="padding-top: 2%;">
      <div class="arrow-back-container">
        <h2 class="fontNunito"># Entwicklerteam</h2>
        <button  class="close-btn" >
          <img class="close-img" src="../../../../assets/media/icons/close.svg" alt="">
        </button>
      </div>

      <div class="channel-name-container">
        <br>
        <div class="edit-name-container">
          <div class="title">
            <h3 class="fontNunito">Channel-Name</h3>
          </div>
          <a class="fontNunito" title="Channelname ändern" href="">Speichern</a>
        </div>
        <input type="text" maxlength="450" title="Channel name ändern" class="input-field input-icon fontNunito" placeholder="Entwicklerteam" pattern="^[a-zA-Z0-9\s\-\_\.\,]+$">
      </div>

      <div class="channel-info-container">
        <br>
        <div class="edit-info-container">
          <h3 class="fontNunito">Beschreibung</h3>
          <a class="fontNunito" title="Channel info ändern" href="">Speichern</a>
        </div>
        <input type="text" class="input-field fontNunito" placeholder="Dein Text hier" pattern="^[a-zA-Z0-9\s\-\_\.\,]+$">
       
        <br>
        <hr>
        <br>
      </div>
      <h3 class="fontNunito mt">Erstellt von</h3>
      <a class="fontNunito user-link" title="Chat user ändern" href="">Noah Braun</a>
     
    </div>  
  
    <div class="check-container">
      <div class="btn-container ml-mr-auto">
        <a class="login-btn fontNunito" routerLink="main">Channel verlassen</a>
      </div>
    </div>
  
  </div>
  
  </section>
