@import "./../colors.scss";
@import "./../styles.scss";

.wrapper{
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.router-outlet{
  display: flex;
  flex: 1;
  min-width: 100%;
  min-height: 100%;
}
