@import "../../colors.scss";
@import "../../fonts.scss";
@import "../../styles.scss";


$color_1: $primary;
$color_2: $black;
$background-color_1: red;
$background-color_2: $white;

/* HEADER */
.logo-container {
	cursor: pointer;
	padding-top: 4.0625rem;
	padding-left: 4rem; //5.5%
}

section {
  width: 50%;
  height: 73vh;
  background-color: $bg-color;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: $bg-color;
  scale: .9;
	>div {
		background-color: $background-color_2;
		border-radius: 30px;
		height: 75vh;
		width: 100%;
		text-align: center;
	}
  .title-container {
		display: flex;
		gap: 15rem;
    align-items: end;
		a {
			margin-left: 3rem;
		}
  }
  app-back {
    &:hover {
      cursor: pointer;
    }
  }
  h2 {
    font-size: 2em;
    color: $color_1 !important;
  }
}

/* FOOTER */
::ng-deep {
  footer {
    display: flex;
    justify-content: center;
  }
}
