<div class="logo-container">
  <app-logo [routerLink]="['/']" title="Startseite" aria-label="Button - Zur Startseite"></app-logo>
</div>

<section id="imprint" >
  
  <div class="ml-mr-auto">
    <br>
    <div class="title-container">

      <a class="arrow-back" title="Zurück zur vorigen Seite" aria-label="Button - zurück zur vorigen Seite" (click)="goBack()">
        <app-back></app-back>
      </a>
      
    </div>
    <h2 class="fontNunito">Impressum</h2>
    <br>
    <div class="form-title ml-mr-auto fontNunito">
      <h2 class="fontNunito" id="m46">Diensteanbieter</h2>
        <ul>
          <li>M G</li>
          <li>D P</li>
          <li>J K</li>
        </ul>
      <br>
      <p>Da & Dort - FIRMENNAME</p>
      <p>Germany</p>
      <br>
      <h2 id="m56">Kontaktmöglichkeiten</h2>
      <br>
      <p>E-Mail-Adresse: <a href="mailto:contact@weiß-nicht.gov">kontakt&#64;weiß-nicht.gov</a></p>
      <br>
      <br>
      <p><u>Bildquellen und Urheberrechtshinweise:</u></p>
      <p>* Icons und Logo von internem Design-team. </p>
      <p>* Personenbilder/Icons/Fotos sind die des jeweiligen </p>
      <p>Benutzers inkl. aller Rechte, Lizenzen und </p>
      <p>Pflichten.</p>
      <br>
      <p class="seal"><a class="fontNunito" href="https://www.e-recht24.de/" title="Internetrecht von RA Sören Siebert - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Generator von eRecht24.de</a></p>
    </div>
  </div>  

</section>

<app-footer />