<section id="imprint" class="login-section">

  <app-logo [routerLink]="['/']"></app-logo>


<div class="form-container ml-mr-auto">
  <div style="padding-top: 2%;">
    <div class="arrow-back-container">
      <a [routerLink]="['/']">
        <img class="arrow-img" src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
        <h2 class="fontNunito">Impressum</h2>
      </a>
    </div>
  </div>
  <div class="form-title ml-mr-auto fontNunito">
    <h2 class="fontNunito" id="m46">Diensteanbieter</h2>
    <p>-</p>
    <p>65451 Kelsterbach</p>
    <p>Hessen - Germany</p>
    <br>
    <h2 id="m56">Kontaktmöglichkeiten</h2>
    <br>
    <p>E-Mail-Adresse: contact&#64;weiß-nicht.gov</p>
    <p>Kontaktformular: <a href="https://www.end-of-light.com" target="_blank">End of light</a></p>
    <br>
    <h2 id="m172">Social Media und andere Onlinepräsenzen</h2>
    <br>
    <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:</p>
    <br>
    <p><a class="fontNunito" href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a></p>
    <p><a class="fontNunito" href="https://www.github.com" target="_blank">https://www.github.com</a></p>
    <br>
    <h2 id="m5234">Vorbehalt der Nutzung für Text und Data Mining</h2>
    <h2 id="m169">Bildnachweise</h2>
    <br>
    <p>Bildquellen und Urheberrechtshinweise:</p>
    <p>Icon im Header ist mithilfe von freier Software wie z.B. <a class="fontNunito" href="https://www.canva.com" target="_blank">www.canva.com</a> erstellt. Lizenz-frei.</p>
    <p>Icons und Logo von internem Design-team. </p>
    <p>Personenbilder/Fotos sind die des jeweiligen Benutzers inkl. aller Rechte, Lizenzen und Pflichten.</p>
    <br>
    <p class="seal"><a class="fontNunito" href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>
  </div>
</div>  

<div class="legal-imprint-container ml-mr-auto">
  <a class="fontNunito" [routerLink]="['/']">Start</a>
  <a class="fontNunito" [routerLink]="['/legal']">Datenschutz</a>
</div>
</section>