@import "../../../../colors.scss";
@import "../../../../fonts.scss";
@import "../../../../styles.scss";

::ng-deep .arrow-back {
  background: none;
  border: solid 1px transparent;
  border-radius: $b-radius-2;
  &:hover,
  &:focus {
    background: $bg-color;
    outline: none;
  }
  app-back {
    &:hover svg path {
      fill: $primary-hover;
    }
  }
}
