@import "../../../../colors.scss";
@import "../../../../fonts.scss";
@import "../../../../styles.scss";

::ng-deep .close-btn {
  background: none;
  border: solid 1px transparent;
  border-radius: $b-radius-2;
  &:hover {
    background: $bg-color;
  }
  &:focus {
    border: solid 1px $primary;
  }
  &:focus-visible {
    border: solid 1px none;
    outline: transparent;
  }
  app-close {
    &:hover svg path {
      fill: $primary-hover;
    }
  }
}
