<section>

     <header class="fontNunito">
         <h1>Neue Nachricht</h1>

        <form class="search-container fontNunito" action="#" method="get">
            <label for="search" class="visually-hidden">Search</label>
            <input type="search" id="search" name="search" placeholder="An: #channel, oder @jemand oder E-Mail Adresse" required>
            <button type="submit" title="Search">
                <img src="/assets/media/icons/search.svg" alt="Search">
            </button>
        </form>

     </header>

     <div class="chat-main-container">
     </div>
     <app-message-field></app-message-field>

</section>