/*
IMPORTANTE

always import what you need
(at top of *.scss)
-> @import '../../colors.scss';
-> @import './fonts-global.scss';
*/

@font-face {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Figtree", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf") format("ttf");
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-figtree {
  font-family: "Figtree", sans-serif;
}