<section class="login-section">

  <div class="logo-container" routerLink="/start">
    <app-logo></app-logo>
  </div>


    <form [formGroup]="myForm">
      <div class="title-container">

        <a class="arrow-back" routerLink="/start" title="zurück zur Startseite" aria-label="Zurück zur Startseite">
          <app-back></app-back>
        </a>

        <h2 class="fontNunito">Konto erstellen</h2>

        <button class="info-container">
          <img id="info-icon" title="How to -registrieren" (click)="openInfoBox()" class="pulse info-icon" src="/assets/media/icons/info_symbol-icon.png" alt="" aria-label="Infobox -How to -registrieren">
        </button>

      </div>

          <p class="fontNunito">Mit deinem Namen und deiner eMail-Addresse hast Du dein neues DABubble-Konto:</p>
        

        <div class="input-container">
          <label class="visually-hidden" for="name">Dein Name</label>
          <input name="name" id="name" autocomplete="off" formControlName="name"
            class="input-field input-field-user-icon fontNunito" type="text" placeholder="Dein Name" autocomplete="off" title="Name eingabe feld"  aria-required="true" aria-describedby="name-error"/>
            <div class="warn-txt warn-txt-2">
          @if (myForm.controls['name'].invalid && (isFormSubmitted || myForm.controls['name'].dirty ||
          myForm.controls['name'].touched)) {
            @if (myForm.controls['name'].errors?.['required']) {
            <span>Name ist ein Pflichtfeld.</span>
            }
            @if (myForm.controls['name'].errors?.['minlength']) {
            <span id="name-error">Mindestens 4 Buchstaben.</span>
            }
          }
        </div>
        </div>
        
        <div class="input-container">
          <label class="visually-hidden" for="name">Dein E-Mail</label>
          <input #email name="name" id="email" autocomplete="off" formControlName="email"
            class="input-field input-field-mail-icon fontNunito" type="email" placeholder="beispielname@email.com" title="E-Mail eingabe feld" aria-required="true" aria-describedby="email-error"/>
          <div class="warn-txt warn-txt-2">
            @if(fb.errorMessageLogin()){
              <span>{{ fb.errorMessageLogin() }}</span>
              }
            @if (myForm.controls['email'].invalid && (isFormSubmitted || myForm.controls['email'].touched ||
            myForm.controls['email'].dirty)) {

            @if (myForm.controls['email'].errors?.['required']) {
            <span>E-Mail ist ein Pflichtfeld.</span>
            }
            @if (myForm.controls['email'].errors?.['email']) {
            <span id="email-error">E-Mail ist unvollständig/inkorrekt.</span>
            }
          }
        </div>
        </div>

        <div class="input-container">
          <label class="visually-hidden" for="name">Passwort</label>
          <input #name id="password" name="password" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password"
            class="input-field input-field-pwd-icon fontNunito" placeholder="Passwort"
            aria-label="password eingabe feld" aria-required="true" aria-describedby="password-error"/>
            <i class="pwd-eye eye-pos" [ngClass]="{'eye-closed': !isPasswordVisible, 'eye-open': isPasswordVisible}" (click)="togglePasswordVisibility()" ></i>
          <div class="warn-txt warn-txt-2">

            @if (myForm.controls['password'].invalid && (isFormSubmitted || myForm.controls['password'].touched ||
            myForm.controls['password'].dirty)) {

            @if (myForm.controls['password'].errors?.['required']) {
            <span>Password ist ein Pflichtfeld.</span>
            }
            @if (myForm.controls['password'].errors?.['minlength']) {
            <span id="password-error">Mindestens 8 Zeichen erforderlich: ein Klein- u. ein
              Großbuchstabe, eine Zahl und ein Sonderzeichen, siehe Info-box.</span>
            }
            @if ((myForm.controls['password'].errors?.['pattern']) && !(myForm.controls['password'].errors?.['minlength'])) {
            <span>Mindestanforderungen nicht erfüllt, siehe Info-box.</span>
            }
            }
          </div>
        </div>
        <div class="checkbox-container">
          <input id="checkbox" type="checkbox" formControlName="term" name="term" title="Checkbox - Zustimmung DSGVO - klicken">
          <label for="checkbox">Ich stimme der <a class="privacy" href="/privacy-policy" target="_blank" rel="noopener noreferrer" title="Datenschutzerklarung" aria-label="Datenschutzerklärung" aria-describedby="privacy-error">Datenschutzerklärung</a> zu.</label>
          
          <div class="checkbox-description">
            @if (myForm.controls['term'].invalid && (isFormSubmitted || myForm.controls['term'].touched ||
            myForm.controls['term'].dirty)) {

            @if (myForm.controls['term'].errors?.['required']) {
            <span id="privacy-error">Zustimmung ist nötig.</span>
            }
          }
          </div>
      </div>

        <div class="btn-container">
          
          <button id="submit" type="submit" class="login-btn fontNunito" [disabled]="!myForm.valid" (click)="onSubmit()" title="Absenden, weiter!" aria-label="Button zum absenden, nächster Schritt.">Weiter</button>
        </div>
    </form>

  <div class="legal-imprint-container">
    <a class="fontNunito" [routerLink]="['/start/imprint']" title="Impressum" aria-label="Link zum Impressum">Impressum</a>
    <a class="fontNunito" [routerLink]="['/start/legal']" title="Datenschutz" aria-label="Link zum Datenschutz">Datenschutz</a>
  </div>
</section>

