@import "../../styles.scss";
@import "../../colors.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  padding: 10px;

  .logo-container {
    width: 100%;
    padding: 1.25rem;
    app-logo {
      border: solid 0.0625rem transparent;
      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 37.875rem;
    width: 100%;
    max-height: 41.875rem;
    height: 100%;
    background-color: $white;
    border-radius: $b-radius-3;
    padding: 40px;
    margin: 10px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 31.25rem;
      width: 100%;
      height: 40px;
      margin-bottom: 1.875rem;
      > a {
        text-decoration: none;
        cursor: pointer;
      }
      h2 {
        color: $primary;
        font-size: 2.875rem;
        font-weight: 700;
      }
      button {
        background: none;
      }
    }
    p {
      margin-bottom: 1.875rem;
      text-align: center;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 31.25rem;
      width: 100%;
    }
    .input-field {
      background-repeat: no-repeat;
      background-position: left 30px top 50%;
      border: solid 0.0625rem transparent;
      padding-left: 85px;
      padding-top: 18px;
      padding-bottom: 18px;
      max-width: 31.25rem;
      width: 100%;
      height: 3.07rem;
      background-color: $bg-color;
      border-radius: $b-radius-2;
      transition: border 175ms ease-in-out;
      cursor: text;
      &:hover {
        border: solid 0.0625rem $black;
      }
      &:focus {
        border: solid 0.0625rem $secondary;
        outline: $secondary;
      }
      &-mail-icon {
        background-image: url("../../assets/media/icons/mail-icon-input-field.svg");
      }
      &-pwd-icon {
        background-image: url("../../assets/media/icons/pwd-lock-icon-input-field.svg");
      }
      &-user-icon {
        background-image: url("../../assets/media/icons/user-icon.svg");
      }
    }
  }
  .checkbox-container {
    display: flex;
    max-width: 31.25rem;
    width: 100%;
    gap: 0.5rem;
    label {
      font-size: 16px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      .privacy {
        text-decoration: none;
        color: $primary;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      display: flex;
      color: #ff0000;
      padding-block: 0.3125rem;
    }
  }

  .btn-container {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
    .login-btn {
      display: flex;
      justify-content: center;
      width: 10.375rem;
      font-weight: 700;
      font-size: 1.125rem;
      gap: 10px;
      padding: 12px 25px;
      border: solid 0.0625rem transparent;
      border-radius: $b-radius-2;
      color: $white;

      background-color: $primary;
      transition: all 175ms ease-in-out;
      &:hover {
        background-color: $primary-hover;
      }
      &:focus {
        background-color: $primary-hover;
        outline: $primary-hover;
      }
    }
  }
}

.icon-input {
  width: 24px;
  height: 24px;
}

.legal-imprint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 21px;
  a {
    font-size: 18px;
    background: none;
    text-decoration: none;
    color: $primary-hover;
    border: transparent 1px solid;
    border-radius: $b-radius-2;
    padding: 0.625rem 0.9375rem;
    scale: 1;
    transition: scale 175ms ease-in-out;
    &:hover {
      border: $primary-hover 1px solid;
      border-radius: $b-radius-2;
      scale: 1.01;
      font-weight: 600;
    }
    &:focus {
      border: solid 0.0625rem $secondary;
      outline: $secondary;
    }
  }
}

.check-container {
  display: flex;
  gap: 8px;
}
.warn-term {
  color: $red;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-container {
  width: 2rem;
  height: 2rem;
}

.info-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pulse {
  border-radius: 50%;
  animation: pulse-effect 2s infinite;
}

@keyframes pulse-effect {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #626edb;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
