<section class="login-section">

    <div class="logo-container">
      <a [routerLink]="['/']">
        <img class="logo" src="../../assets/media/icons/logo-animation.svg" alt="blubbel logo">
      </a>
    </div>

  <div class="form-container ml-mr-auto">
    <div style="padding-top: 2%;">
      <div class="arrow-back-container">
        <a [routerLink]="['/']">
          <img src="../../assets/media/icons/arrow_back.svg" alt="arrow pointing left">
        </a>
        <h2 class="fontNunito">Konto erstellen</h2>
      </div>
      <div class="form-title ml-mr-auto">
        <p class="fontNunito">Mit deinem Namen und deiner eMail-Addresse hast Du dein neues DABubble-Konto:</p>
      </div>
    </div>  
    <form >
      <div class="input-container ml-mr-auto"> 
        <input id="name" name="name" class="input-field input-field-user-icon fontNunito" minlength="3" type="text" placeholder="Name und Nachname" required>
        <input class="input-field input-field-mail-icon fontNunito" type="text" placeholder="beispielname@email.com" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
        <input class="input-field input-field-pwd-icon fontNunito" minlength="8" type="password" placeholder="Passwort"  required />
      </div>
    </form>

    <div class="check-container">
      <input type="checkbox" required>
      <br>
      <label for="checkbox" class="fontNunito">Ich stimme der <a class="font-nunito" href="legal">Datenschutzerklärung</a> zu.</label>
    </div>
    <div class="btn-container ml-mr-auto">
      <a class="login-btn fontNunito" [routerLink]="['/create']">Weiter</a>
    </div>

  </div>
  
  <div class="legal-imprint-container ml-mr-auto">
    <a class="fontNunito" [routerLink]="['/imprint']">Impressum</a>
    <a class="fontNunito" [routerLink]="['/legal']">Datenschutz</a>
  </div>
</section>
