@import "../../../../colors.scss";
@import "../../../../fonts.scss";
@import "../../../../styles.scss";

.message-field-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-radius: 20px;
  border: solid 1px $primary-light;
  padding: 20px;
  height: 170px;
    &:focus-within {
      border: solid 1px $primary-hover;
      outline: $primary-hover;
      box-shadow: 0px 0px 19px -10px $primary-hover;
    }
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    &:focus {
      border: solid 1px none;
      outline: none;
    }
  }
}

.input-field {
  width: 100%;
  height: 100%;
  display: flex;
}

.txt {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5344rem;
}

.icons-container {
  display: flex;
  gap: 0.1875rem;
  width: 100%;
  button {
    background: none;
    border: solid 1px transparent;
    border-radius: $b-radius-2;
    &:hover {
      background: $bg-color;
    }
    &:focus {
      border: solid 1px transparent;
      background: $bg-color;
      outline: transparent;
    }
    &:hover svg path {
      fill: $primary-hover;
    }
  }
  button:nth-of-type(4) {
    margin-left: auto;
  }
}

.icons {
  cursor: pointer;
}

.vector-container {
  height: 40px;
  border-right: 1px solid $primary-light;
}

.textarea-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji {
  display: flex;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  bottom: 65px;
  left: 0;
  width: 355px;
  height: 430px;
}

emoji-mart {
  display: flex;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  bottom: 0;
  left: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 175ms;
  transform: translateY(100%);
}

.show-emoji {
  visibility: visible;
  transform: translateY(0);
}
