

  <div class="message-field-container fontNunito">
    <textarea title="Schreib was Nettes :)" class="input-field fontNunito txt" type="text" placeholder="Nachricht an #Entwicklerteam" wrap="hard" style="resize: none;"></textarea>
    <div class="textarea-btn-container">
      <div class="icons-container">
        
        <img title="Add a file" class="icons" src="../../assets/media/icons/add-file-textarea-icon.svg" alt="">
        
        <!-- <a href="" title="Add a file">
          <img class="icons" src="../../assets/media/icons/add-file-textarea-icon.svg" alt="">
        </a> -->
        <div class="vector-container">
        </div>
        <img title="Add emoji" class="icons" src="../../assets/media/icons/add-emoji-textarea-icon.svg" alt="">
        <img title="Pin a user" class="icons" src="../../assets/media/icons/add-user-pin-textarea-icon.svg" alt="">
      </div>
      <img title="Senden" class="icons" src="../../assets/media/icons/msg-send-btn-icon.svg" alt="">
    </div>
  </div>


