

  <div class="message-field-container fontNunito">
    <textarea title="Schreib was Nettes :)" class="input-field fontNunito txt" type="text" placeholder="Nachricht an #Entwicklerteam" wrap="hard"></textarea>
    <div class="textarea-btn-container">
      <div class="icons-container">
        <a href="" title="Add a file">
          <img class="icons" src="../../assets/media/icons/add-file-textarea-icon.svg" alt="">
        </a>
        <div class="vector-container">
        </div>
        <a href="" title="Add emoji">
          <img class="icons" src="../../assets/media/icons/add-emoji-textarea-icon.svg" alt="">
        </a>
        <a href="" title="Pin a user">
          <img class="icons" src="../../assets/media/icons/add-user-pin-textarea-icon.svg" alt="">
        </a>
      </div>
      <img title="Senden" class="icons" src="../../assets/media/icons/msg-send-btn-icon.svg" alt="">
    </div>
  </div>


