@import "./../../../../fonts.scss";
@import "./../../../../colors.scss";
@import "./../../../../styles.scss";

.chat-content {
  display: flex;
  flex-direction: column;
  margin: 1.5625rem 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.user-message-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 8.8125rem;
  padding: 0.625rem 2.8125rem;
  gap: 1.875rem;

  &:hover {
    background-color: $bg-color;
    width: 100%;

    & .messages-main-chat {
      background-color: $white;
    }
  }

  &:hover app-reaction-bar {
    opacity: 1;
    transform: translateX(0);
  }

  > img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 2.5rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > div {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      > h2 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 24.55px;
      }
    }
  }
}

.line-separator{
  height: 1px;
  width: 60%;
  background-color: $primary-light;
}

.time-stamp {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 19.1px;
}

.messages-main-chat {
  border-radius: 0 1.875rem 1.875rem 1.875rem;
  padding: 0.9375rem;
  gap: 0.5rem;
  background-color: $bg-color;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24.55px;
}

.answer-container {
  display: flex;
  align-items: center;

}

.answer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: $secondary;
  &:hover {
    cursor: pointer;
  }
}

app-reaction-bar {
  display: flex;
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 185px;
  background: $white;
  width: 255px;
  height: 46px;
  padding: 3px 15px 3px 20px;
  gap: 5px;
  border-radius: $b-radius-3 $b-radius-3 0px $b-radius-3;
  border: 1px solid #adb0d9;
  transition-timing-function: ease-in-out;
  transition-duration: 175ms;
  transform: translateX(5%);
}
