<div class="chat-content">
  <div class="time-separator">
    <div class="day-time">Dienstag, 14 Januar</div>
    <div class="middle-line"></div>
  </div>
  <div class="user-message-container">
    <img src="assets/media/icons/profile-icons/user-6-noah.svg" alt="profil-image" srcset="">
    <div>
      <div class="font-nunito">
        <h2>User Name</h2>
        <div class="time-stamp">time stamp</div>
      </div>
      <div class="messages-main-chat font-nunito">
        Welche Version ist aktuell von Angular?
      </div>
      <div class="answer-container">
        <div class="answer">2 Antworten</div>
        <div class="time-stamp"> Time stamp from last answer</div>
      </div>
    </div>
  </div>
</div>
