<div class="chat-content">
 @if(!hideDetails){
  <app-time-separator class="full-width"></app-time-separator>
 }
  <div class="user-message-container">
    <app-reaction-bar></app-reaction-bar>
    <img src="assets/media/icons/profile-icons/user-6-noah.svg" alt="profil-image" srcset="">
    <div>
      <div class="font-nunito">
        <h2>User Name</h2>
        <div class="time-stamp">time stamp</div>
      </div>
      <div class="messages-main-chat font-nunito">
        Welche Version ist aktuell von Angular?
      </div>
      <div class="answer-container">
        <div (click)="openThread()" class="answer">2 Antworten</div>
        @if (!hideDetails) {
          <div class="time-stamp"> Time stamp from last answer</div>
        } @else {
          <div class="line-separator"></div>
        }

      </div>
    </div>
  </div>
</div>
